.bg-green-gradient {
    background-image: linear-gradient(#2d900f, #76c45e);
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 50px;
    width: 25%;
    box-shadow: 0px 5px 20px #4c4343;
}

.form-container div {
    padding-bottom: 25px;
}
::placeholder {
    color: #c1c1c1;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c1c1c1;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c1c1c1;
}
.form-row {
    background-color: #f2f2f2;
    color: black;
    padding-left: 20px;
}

.form-row1 {
    background-color: #00b241;
    color: white;
    text-align: center;
}

input,
button {
    box-sizing: border-box;
    width: 100%;
    height: 65px;
    border: none;
    font-size: 20px;
}

.form-row2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: gray;
}

.link-button {
    color: #5bab6d;
    text-decoration: none;
}
